block variables

mixin products(food)
  fieldset
    legend= food.description
    label(for=food.type)
      article
        h2.heading= 'Нямушка '
          span= food.ingredient
        p= 'Сказочное заморское яство'
        p= food.doseCount + ' порций'
        case food.mouseCount
          when 1
            p= 'мышь в подарок'
          when 2
            p= '2 мыши в подарок'
          when 5
            p= '5 мышей в подарок'
              br
              .
                заказчик доволен
        p
          span= 'Вес упаковки — '
          span= food.packWeight
          span= 'кг'
    p= 'Чего сидишь? Порадуй котэ, '
      label= 'купи.'
        input.hidden(
          type='checkbox'
          name='type'
          value=food.type
          id=food.type
        )
