mixin products()
  .product&attributes(attributes)
    each food in foodList
      - food.disabled = 'Печалька, ' + food.ingredient + ' закончился.'
      section.product__item(data-disabled=food.disabled)
        +heading('h2')(class='heading_level_2 product__desc product__desc_kind_spec product__caption hidden')
          | #{food.description}
        label.label.label__card(for=food.type)
          article.product__card
            svg.product__image(aria-hidden='true', width='320', height='480')
              use(xlink:href='assets/icons/icons.svg#card-outline')
            +heading('h3')(class='heading_level_3 product__heading')
              | Нямушка
              |
              span.heading_level_4
                | #{food.ingredient}
            p.product__desc.product__desc_kind_promo.product__desc_kind_text
              | Сказочное заморское яство
            p.product__desc.product__desc_kind_text
              b
                | #{food.doseCount}
              |
              | порций
            p.product__desc.product__desc_kind_text
              case food.mouseCount
                when 1
                  | мышь в подарок
                when 2
                  b
                    | 2
                  |
                  | мыши в подарок
                when 5
                  b
                    | 5
                  |
                  | мышей в подарок
                  br
                  | заказчик доволен
            p.label__sticker.sticker
              span.hidden
                | Вес упаковки —
                |
              span.sticker__major
                | #{food.packWeight}
              span.sticker__minor
                | кг
        p.product__desc.product__desc_kind_caption.product__caption
          | Чего сидишь? Порадуй котэ,
          |
          label.label.label__text(for=food.type)
            b
              | купи
            | .
            input.hidden(
              type='checkbox'
              name='type'
              value=food.type
              id=food.type
            )
